version: '3.8'
services:

  mongodb:
    image: mongo:latest@sha256:474f5c3bf0e355bb97dafda730e725169a4d51c5578abf7be9ec7ad3fdee4481
    ports:
      - '27017:27017'
    volumes:
      - "./src/test/resources/db:/docker-entrypoint-initdb.d"
    networks:
      - develop-network

  azurite:
    image: mcr.microsoft.com/azure-storage/azurite@sha256:647c63a91102a9d8e8000aab803436e1fc85fbb285e7ce830a82ee5d6661cf37
    ports:
      - "10000:10000"
    command: "azurite --blobHost 0.0.0.0 --inMemoryPersistence"
    environment:
      - AZURITE_ACCOUNTS=devstoreaccount1:Eby8vdM02xNOcqFlqUwJPLlmEtlCD9I1QhZT4gRjAAHEDPazjFIwtg==
    networks:
      - develop-network

  azure-cli:
    build:
      context: "../../."
      dockerfile: "apps/user-ms/src/test/resources/Dockerfile-azure-cli"
    depends_on:
      - azurite
    networks:
      - develop-network
    volumes:
      - "./src/test/resources/blobStorageInit/initAzurite.sh:/initAzurite.sh"
      - "./src/test/resources/blobStorageInit/products.json:/workspace/products.json"
    environment:
      - SELFCARE_INFRA_PRIVATE_ENV=dev

  mockserver:
    image: mockserver/mockserver@sha256:adec675a93253dcd503cda331dbc8c88383c1c79ceb2370ec9766ad3f010d255
    ports:
      - '1080:1080'
    environment:
      - MOCKSERVER_INITIALIZATION_JSON_PATH=/config/*.json
      - MOCKSERVER_ENABLE_CORS_FOR_API="true"
      - MOCKSERVER_ENABLE_CORS_FOR_ALL_RESPONSES="true"
    volumes:
      - "./src/test/resources/mock:/config"
    networks:
      - develop-network

networks:
  develop-network:
    name: selfcare-develop-network
